@import url("./header.css");
@import url("./introducao.css");
@import url("./marca.css");
@import url("./diferencias.css");
@import url("./servicos.css");
@import url("./produtos.css");
@import url("./faq.css");


@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;0,500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  /* overflow-x: hidden !important; */
}

:root {
  --background-intro: #eededf;
  --cor-primaria: #fe6c36;
}

/* classe utilitária */
.cor-primaria {
  color: var(--cor-primaria);
}

.background-intro {
  background: var(--background-intro);
}
